<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static '/css/newEmployee.css' %}">
  </head>
  <body>

  

    <div >
      <div class="head">
        <h1>Add Yourself</h1>
      </div>
      <form class="form" action="/home/{{category}}/add/" method="post">
         {% csrf_token %}
         {% for field in form %}
         <div class="fieldWrapper">
              {{ field.errors }}
              {% if field.help_text %}
               <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
              {{ field }}

         </div>
        {% endfor %}
         <input type="submit" name="" value="add">
         <input type="reset" name="" value="Reset">
      </form>
    </div>
  </body>
</html>
